<p id="notice"><%= notice %></p>

<h1>Historial de Mascota</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Peso</th>
      <th>Altura</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_histories.each do |pet_history| %>
      <tr>
        <td><%= pet_history.weight %></td>
        <td><%= pet_history.heigth %></td>
        <td><%= pet_history.description %></td>
        <td><%= link_to 'Mostrar', pet_history %></td>
        <td><%= link_to 'Editar', edit_pet_history_path(pet_history) %></td>
        <td><%= link_to 'Borrar', pet_history, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_pet_history_path %>
