<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>E-mail</th>
      <th>Mascotas</th> <!--se agregan las mascotas-->
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.total_pets %></td>
        <td><%= link_to 'Mascotas', client_pets_path(client) %></td>
        <td><%= link_to 'Mostrar', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Borrar', client, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cliente Nuevo', new_client_path %>
